* {
    padding: 0;
    margin: 0;
}
header {
  background-color: indigo; 
  color: #fff;
  padding: 10px 20px;
}

/* Top row = Logo | Search | Icons */
.top-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8px;
}

.logo {
  flex: 1;
}

/* Center search box */
.search-container {
  flex: 2;
  display: flex;
  justify-content: center;
}
.search-container input{
    color: white;
}

.search-container input::placeholder{
    color: white;
}

.search-bar {
  width: 70%;
  padding: 12px;
  border-radius: 20px;
  background-color: indigo;
  border-style: solid;
  border-color: white;
  border-width: 1px;
  outline:none;
}

/* Right side icons */
.top-icons {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}
.top-icons a{
    color: white;
}

.top-icons i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: color 0.3s;
}

.top-icons i:hover {
  color: #ffd700;
}

/* Bottom nav links */
.nav-links {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 60px;
  padding: 10px 0;
}

.nav-links a {
  color: #fff;
  text-decoration: none;
  font-size:larger;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #ffd700;
}

.banner img {
    width: 100%;
}

.joy {
    text-align: center;
    font-size: larger;
    color: indigo;
    font-family: 'ITC Avant Garde Gothic', 'Arial', sans-serif;
    padding: 25px;
}

.joy h3 {
    color: indigo;
    padding: 20px;
}

footer {
    background-color: indigo;
}

.box {
    border-width: 2px;
    border-color: indigo;
    border-style: solid;
    display: inline-block;
    width: 220px;
    height: 385px;
    padding: 50px;
}

.box h2,
h3,
h4 {
    color: white;
}

.box h4:hover {
    color: black;
}

.head {
    text-align: center;
    color: indigo;
    padding: 20px;
}

.head h4 {
    text-align: center;
    color: indigo;
    padding: 10px;
}

.best {
    text-align: center;
}
.con {
    border-width: 2px;
    border-style: solid;
    border-color: rgb(212, 180, 235);
    border-radius: 20px;
    display: inline-block;
    width: 220px;
    height: 350px;
    margin-top: 30px;
    padding: 20px;
    margin: 10px;
    background-color: rgb(217, 193, 233);
    background: linear-gradient(to bottom, rgb(217, 193, 233) 68%, white 50%);
    text-align: left;
}

.con img {
    width: 240px;
}

.con button {
    width: 130px;
    height: 30px;
    border-radius: 18px;
    color: white;
    background-color: indigo;
    font-family: 'ITC Avant Garde Gothic', 'Arial', sans-serif;
}
.con h1 {
    color: indigo;
    font-size: x-large;
}

.con h2 {
    color: indigo;
}

.cont {
    text-align: center;
}

.aaa {
    display: inline-block;
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
    margin: 10px;
    border-color: rgb(158, 158, 145);
}

.head1 {
    text-align: center;
    color: indigo;
    padding: 5px;
}

.head1 h3 {
    color: indigo;
    padding: 8px;
}

.head1 h4 {
    color: indigo;
    font-size: x-large;
    text-align: left;
    padding: 20px;
}
.head1 p{
    text-align: left;
    font-size: large;
}
.shop{
    text-align: center;
}

.cart{
    border-style: solid;
    border-radius: 10px;
    border-color:  white;
    display: inline-block;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
.cart h1{
    color: indigo;
}
.cart h3{
    color: indigo;
}
.cart  button {
    width: 130px;
    height: 30px;
    border-radius: 18px;
    color: white;
    background-color: indigo;
    font-family: 'ITC Avant Garde Gothic', 'Arial', sans-serif;
}

.form {
    width: 100%;
    max-width: 900px;
    border-radius: 20px;
    border-style: solid;
    padding: 20px;
    box-shadow: 0 6px 20px rgba(12, 18, 34, 0, 08);
    margin: auto;
    margin-top: 40px;
}
.checkbox input[type="checkbox"]{
    margin-right: 15px;
    margin-left: 50px;
    margin-top: 20px;
    cursor: pointer;
    transform: scale(1.8);
    accent-color: #60308a;
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22px 28px;
}

.info input {
    width: 90%;
    border-radius: 50px;
    padding: 12px;
    font-size: 15px;
}

.heading {
    color: white;
    margin-bottom: 20px;
}

.happy {
    width: 100%;
    text-align: center;
    background-color: indigo;
    padding: 40px 0;
    margin: 30px 0;
}

.video-row {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 30px;
}

.videos {
    display: flex;
    width: 325px;
    justify-content: center;

}

.videos video {
    width: 100%;
    height: auto;
}
.social{
    padding: 10px;
}
.log {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
}

.in {
  border: 1px solid black;
  border-radius: 15px;
  display: flex;
  flex-direction: column;  
  align-items: center;
  gap: 15px;               
  padding: 30px 40px;
  width: 320px;
  margin: auto;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
.in h1{
    color: indigo;
}

.in input {
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #ccc;
  outline: none;
  text-align: center;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.continue {
  background-color: #000;
  color: white;
}

.google {
  background-color: #fff;
  color: #444;
  border: 1px solid #ddd;
}

.facebook {
  background-color: #4267B2;
  color: white;
}

button img {
  width: 20px;
  height: 20px;
}